[defaults]
# Use the local inventory file by default
inventory = ./inventory.yaml

# Make the output pretty
stdout_callback = default
result_format = yaml
bin_ansible_callbacks = True

# Increase the SSH timeout for slower servers
timeout = 30
