---
- name: System Setup Post-Install
  # specify what hosts this should run on.  See inventory.yaml for hosts
  hosts: localMachine
  become: yes
  vars_files:
    - packages.yaml
  vars:
    ###########################################################################
    # Playbook-wide variables
    ###########################################################################
    username: jdv
    dotfiles_repo: "https://github.com/jdvober/dotfiles.git"
    dotfiles_path: /home/{{ username}}/github.com/jdvober/dotfiles/
    global_fonts_path: /usr/local/share/fonts/ # Destination for global font usage.
    required_folders:
      - "{{ global_fonts_path }}"
      - "{{ dotfiles_path }}"
    dotfiles_folders:
        - beets
        - eza
        - fish
        - neofetch
        - nvim
        - vim
        - wezterm
        - yazi
        - zsh
  tasks:
    ###########################################################################
    # --- Installing Packages ---
    ###########################################################################
        - name: Enable Multilib repository
          replace:
            path: /etc/pacman.conf
            regexp: '^#\[multilib\]\n#Include'
            replace: "[multilib]\nInclude"
          become: yes
          register: pacman_config
    
        - name: Update pacman cache if config changed
          when: pacman_config.changed
          command: pacman -Sy
          become: yes
    
        ###########################################################################
        # --- AUR SUPPORT SETUP ---
        ###########################################################################
        - name: Create AUR build user
          user:
            name: aur_builder
            group: wheel
            create_home: yes
    
        - name: Allow aur_builder to use pacman without password
          lineinfile:
            path: /etc/sudoers.d/11-install-aur-builder
            line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
            create: yes
            mode: '0440'
    
        ###########################################################################
        # --- BTRFS & REFIND SNAPSHOTS ---
        ###########################################################################
        - name: Install Snapper, Snap-Pac, and rEFInd-Btrfs
          pacman:
            name: 
              - snapper
              - snap-pac
            state: present
    
        - name: Install refind-btrfs from AUR
          kewlfft.aur.aur:
            name: refind-btrfs
            use: makepkg
            state: present
          become: yes
          become_user: aur_builder
    
        - name: Check if snapper config exists
          stat:
            path: /etc/snapper/configs/root
          register: snapper_config
    
        - name: Initialize snapper config for root
          when: not snapper_config.stat.exists
          command: snapper -c root create-config /
    
        - name: Enable refind-btrfs service
          systemd:
            name: refind-btrfs.service
            enabled: yes
            state: started
    
      ###########################################################################
      # --- SNAPPER CLEANUP & RETENTION ---
      ###########################################################################
        - name: Configure Snapper retention policy for root
          lineinfile:
            path: /etc/snapper/configs/root
            regexp: "^{{ item.key }}="
            line: '{{ item.key }}="{{ item.value }}"'
          loop:
            - { key: 'TIMELINE_CLEANUP', value: 'yes' }
            - { key: 'TIMELINE_LIMIT_HOURLY', value: '5' }
            - { key: 'TIMELINE_LIMIT_DAILY', value: '7' }
            - { key: 'TIMELINE_LIMIT_WEEKLY', value: '0' }
            - { key: 'TIMELINE_LIMIT_MONTHLY', value: '0' }
            - { key: 'TIMELINE_LIMIT_YEARLY', value: '0' }
            - { key: 'NUMBER_LIMIT', value: '10' } # Limits snapshots triggered by snap-pac
            - { key: 'NUMBER_LIMIT_IMPORTANT', value: '5' }
    
        - name: Enable and start Snapper cleanup timers
          systemd:
            name: "{{ item }}"
            enabled: yes
            state: started
          loop:
            - snapper-cleanup.timer
            - snapper-timeline.timer
    
        ###########################################################################
        # --- Install Cross Platform Packages ---
        ###########################################################################
        - name: Install Cross platform packages
          package:
            name: "{{ cross_platform_packages }}"
            state: present
          become: yes
          ignore_errors: true # Like nofail for fstab
    
        ###########################################################################
        # --- Install / Remove Arch-only packages ---
        ###########################################################################
        - name: Install Arch-specific packages with Pacman (non-AUR)
          when: ansible_facts['os_family'] == "Archlinux"
          pacman:
            name: "{{ pacman_packages | selectattr('state', 'equalto', 'present') | map(attribute='name') | list }}" # Extract the 'name' of each package that should be installed to pass to pacman
            state: present
          become: yes
          ignore_errors: true # Like nofail for fstab

        - name: Uninstall Arch-specific packages with Pacman (non-AUR)
          when: ansible_facts['os_family'] == "Archlinux"
          pacman:
            name: "{{ pacman_packages | selectattr('state', 'equalto', 'absent') | map(attribute='name') | list }}"
            state: absent
          become: yes
          ignore_errors: true # Like nofail for fstab

        ###########################################################################
        # --- Install AUR packages ---
        ###########################################################################

        - name: Install AUR Packages
          when: ansible_facts['os_family'] == "Archlinux"
          kewlfft.aur.aur:
            name: "{{ aur_packages | selectattr('state', 'equalto', 'present') | map(attribute='name') | list }}" # Extract the 'name' of each package that should be installed to pass to yay
            state: present
          become: yes
          become_user: aur_builder
          ignore_errors: true # Like nofail for fstab

        - name: Uninstall Arch-specific packages with Pacman (non-AUR)
          when: ansible_facts['os_family'] == "Archlinux"
          pacman:
            name: "{{ aur_packages | selectattr('state', 'equalto', 'absent') | map(attribute='name') | list }}"
            state: absent
          become: yes
          become_user: aur_builder
          ignore_errors: true # Like nofail for fstab
    
        ###########################################################################
        # --- Install Debian-only packages ---
        ###########################################################################
          # Removes any packages marked for deletion in packages.yaml
        - name: Install and Remove Debian-specific packages with apt
          when: ansible_facts['os_family'] == "Debian"
          apt:
            name: "{{ item.name}}"
            state: "{{ item.state }}"
          loop: "{{ debian_packages }}"
          become: yes
          ignore_errors: true # Like nofail for fstab

        ###########################################################################
        # --- FLATPAK SETUP ---
        ###########################################################################
        - name: Ensure flatpak is installed
          pacman:
            name: flatpak
            state: present
          become: yes
    
        - name: Add Flathub repository
          community.general.flatpak_remote:
            name: flathub
            state: present
            flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
          become: yes # Use 'yes' for system-wide or 'no' for user-level
    
        - name: Install and Remove Flatpaks
          when: ansible_facts['os_family'] == "Archlinux"
          community.general.flatpak:
            name: "{{ flatpaks | selectattr('state', 'equalto', 'present') | map(attribute='name') | list }}" # Extract the 'name' of each package that should be installed to pass to flatpak
            state: present
          become: yes # Optional: Install to user space instead of system-wide
          ignore_errors: true # Like nofail for fstab

        - name: Uninstall unused Flatpak runtimes
          command: flatpak uninstall --unused -y
          changed_when: false
    
    
    ###########################################################################
    # --- DOTFILES ---
    ###########################################################################
        ###########################################################################
        # --- Cloning Dotfiles Repo ---
        ###########################################################################

        - name: Check if dotfiles directory exists
          stat:
            path: "{{ dotfiles_path }}"
          register: repo_status
        
        - name: Clone dotfiles repository
          when: not repo_status.stat.exists
          become: no
          git:
            repo: "{{ dotfiles_repo }}"
            dest: "{{ dotfiles_path }}"
            update: yes
    
        ###########################################################################
        # --- Symlinking Dotfiles ---
        ###########################################################################
        - name: Check existence of all dotfiles_folders listed above
          stat:
            path: "{{ folder_path }}"
          loop: "{{ dotfiles_folders }}"
          loop_control:
            loop_var: folder_path
          register: dotfiles_folder_stats

        - name: Symlink configuration directories to ~/.config from dotfiles
          when: not folder_stat.stat.exists
          become: no
          file:
            src: "{{ dotfiles_path }}/.config/{{ folder_stat.folder_path | basename }}"
            dest: "~/.config/{{ folder_stat.folder_path | basename }}"
            state: link
          loop: "{{ dotfiles_folder_stats.results }}"
          loop_control:
            loop_var: folder_stat
            label: "{{ folder_stat.folder_path }}" # Cleans up terminal output
    
        ###########################################################################
        #  Copy Fonts
        ###########################################################################
        - name: Check if fonts have been copied
          stat:
            path: "{{ global_fonts_path }}/fira"
          register: fira_status

        - name: Copy fonts
          when: not fira_status.stat.exists
          become: yes 
          copy:
            src: "{{ dotfiles_path}}/fonts/"
            dest: "{{ global_fonts_path }}"
            mode: '0755'

  ###########################################################################
  #  Updating and Upgrading
  ###########################################################################
        ###########################################################################
        # --- ARCH LINUX UPDATES ---
        ###########################################################################
        - name: Update Arch system packages (pacman)
          community.general.pacman:
            update_cache: yes
            upgrade: yes
          become: yes
          when: ansible_facts['os_family'] == "Archlinux"

        - name: Update AUR packages (using yay)
          command: yay
          when: ansible_facts['os_family'] == "Archlinux"

        ###########################################################################
        # --- DEBIAN SERVER UPDATES ---
        ###########################################################################
        - name: Update Debian system packages (apt)
          apt:
            update_cache: yes
            upgrade: dist
          become: yes
          when: ansible_facts['os_family'] == "Debian"

        ###########################################################################
        # --- UNIVERSAL FLATPAK UPDATE ---
        ###########################################################################
        - name: Update all installed Flatpaks
          command: flatpak update --noninteractive
          when: ansible_facts['system'] == "Linux"
          register: flatpak_result
          changed_when: "'Nothing to do' not in flatpak_result.stdout"

        - name: Remove all Flatpaks that are no longer required
          command: flatpak uninstall --unused -y
          when: ansible_facts['system'] == "Linux"
          changed_when: false

        ###########################################################################
        # --- WINDOWS 11 WORK UPDATES ---
        ###########################################################################
        - name: Install all Windows updates
          ansible.windows.win_updates:
            category_names: '*'
            reboot: yes
          when: ansible_facts['os_family'] == "Windows"
        
        ###########################################################################
        #  Cleanup
        ###########################################################################
        - name: System Cleanup and Maintenance
          ignore_errors: true # Continue even if a cleanup task fails
          block:
            ###########################################################################
            # ARCH CLEANUP
            ###########################################################################
            - name: Remove orphaned packages (Arch)
              command: pacman -Rs $(pacman -Qdtq)
              register: orphan_out
              failed_when: false # Don't fail if no orphans are found
              changed_when: orphan_out.rc == 0
              become: yes
              when: ansible_facts['distribution'] == "Archlinux"

            - name: Clean Pacman cache (keep latest 3)
              command: paccache -r
              become: yes
              when: ansible_facts['distribution'] == "Archlinux"

            ###########################################################################
            # DEBIAN CLEANUP
            ###########################################################################
            - name: Remove unused dependencies (Debian)
              apt:
                autoremove: yes
                purge: yes
              become: yes
              when: ansible_facts['os_family'] == "Debian"

            ###########################################################################
            # UNIVERSAL FLATPAK CLEANUP
            ###########################################################################
            - name: Uninstall unused Flatpak runtimes
              command: flatpak uninstall --unused -y
              register: fp_cleanup
              changed_when: "'Nothing to do' not in fp_cleanup.stdout"
              when: ansible_facts['system'] == "Linux"
          
