---
- name: Arch Linux Post-Install Setup
  hosts: localhost
  connection: local
  become: yes
  vars:
    user_name: "{{ ansible_user_id }}"
    dotfiles_repo: "https://github.com/jdvober/dotfiles.git"
    # Packages that have the same name across distros (like git)
    universal_packages:
      - git
    arch_packages: 
      - alacritty
      - alsa-plugins
      - alsa-utils
      - asciidoc
      - audacity
      - bash-language-server
      - bat
      - bitwarden
      - btop
      - calf
      - cifs-utils
      - cowsay
      - discord
      - distrobox
      - dust
      - easyeffects
      - evince
      - eza
      - fastfetch
      - feh
      - firefox
      - fish # after setting fish as the default shell from bash, you must copy /usr/etc/shells to /etc/shells as root for it to not lock you out of your user account!
      - font-manager
      - fprintd
      - fuse
      - fx
      - fzf
      - gcc
      - gimp
      - gnome-disk-utility
      - go
      - go-tools
      - gopls
      - greetd
      - gthumb
      - imagemagick
      - inkscape
      - jedi-language-server
      - jq
      - keychain
      - libreoffice
      - lolcat
      - lsp-plugins-lv2
      - lxappearance
      - make
      - mda.lv2
      - mlocate
      - mpv
      - mupdf
      - nodejs
      - npm
      - ntfs-3g
      - obs-studio
      - obsidian
      - openssh
      - p7zip
      - pacman-contrib
      - pandoc
      - pavucontrol-qt
      - pipewire
      - pipewire-alsa
      - pipewire-pulse
      - python
      - python-pip
      - python-pipx
      - python-pynvim
      - qtile
      - rclone
      - rdfind
      - reflector
      - ripgrep
      - rofi
      - rsnapshot
      - rsync
      - rustup
      - samba
      - scrot
      - shutter
      - starship
      - steam
      - switcheroo-control
      - tar
      - thunar
      - thunar-archive-plugin
      - thunar-media-tags-plugin
      - thunar-volman
      - tmux
      - ttf-fira-code
      - ttf-nerd-fonts-symbols-mono
      - typescript-language-server
      - unrar
      - usbutils
      - uv
      - vi
      - vlc
      - w3m
      - watchexec
      - wget
      - wireplumber
      - xarchiver
      - xclip
      - xf86-input-wacom
      - xfce4-settings
      - yaml-language-server
      - yarn
      - yazi
      - zam-plugins-lv2
      - zathura
      - zathura-pdf-mupdf
      - zoxide
    aur_packages:
      - yay-bin
      - visual-studio-code-bin
      - bambustudio-bin
      - f1multiviewer-bin
      - f1mv-lights-integration-bin
      - feishin-bin
      - github-desktop-bin
      - neovim-nightly-bin
      - tidal-hifi-bin
      - wezterm-git

  tasks:
    # --- AUR SUPPORT SETUP ---
    - name: Create AUR build user
      user:
        name: aur_builder
        group: wheel
        create_home: yes

    - name: Allow aur_builder to use pacman without password
      lineinfile:
        path: /etc/sudoers.d/11-install-aur-builder
        line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
        create: yes
        mode: '0440'

    - name: Install AUR packages
      kewlfft.aur.aur:
        name: "{{ item }}"
        use: makepkg
        state: present
      become: yes
      become_user: aur_builder
      loop: "{{ aur_packages }}"

    # --- BTRFS & REFIND SNAPSHOTS ---
    - name: Install Snapper, Snap-Pac, and rEFInd-Btrfs
      pacman:
        name: 
          - snapper
          - snap-pac
        state: present

    - name: Install refind-btrfs from AUR
      kewlfft.aur.aur:
        name: refind-btrfs
        use: makepkg
        state: present
      become: yes
      become_user: aur_builder

    - name: Check if snapper config exists
      stat:
        path: /etc/snapper/configs/root
      register: snapper_config

    - name: Initialize snapper config for root
      command: snapper -c root create-config /
      when: not snapper_config.stat.exists

    - name: Enable refind-btrfs service
      systemd:
        name: refind-btrfs.service
        enabled: yes
        state: started

  # --- SNAPPER CLEANUP & RETENTION ---
    - name: Configure Snapper retention policy for root
      lineinfile:
        path: /etc/snapper/configs/root
        regexp: "^{{ item.key }}="
        line: '{{ item.key }}="{{ item.value }}"'
      loop:
        - { key: 'TIMELINE_CLEANUP', value: 'yes' }
        - { key: 'TIMELINE_LIMIT_HOURLY', value: '5' }
        - { key: 'TIMELINE_LIMIT_DAILY', value: '7' }
        - { key: 'TIMELINE_LIMIT_WEEKLY', value: '0' }
        - { key: 'TIMELINE_LIMIT_MONTHLY', value: '0' }
        - { key: 'TIMELINE_LIMIT_YEARLY', value: '0' }
        - { key: 'NUMBER_LIMIT', value: '10' } # Limits snapshots triggered by snap-pac
        - { key: 'NUMBER_LIMIT_IMPORTANT', value: '5' }

    - name: Enable and start Snapper cleanup timers
      systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
      loop:
        - snapper-cleanup.timer
        - snapper-timeline.timer

    # --- DOTFILES ---
#    - name: Clone dotfiles repository
#      become: no
#      git:
#        repo: "{{ dotfiles_repo }}"
#        dest: "~/.dotfiles"
#        update: yes
#
#    - name: Symlink dotfiles (Example for .zshrc)
#      become: no
#      file:
#        src: "~/.dotfiles/.zshrc"
#        dest: "~/.zshrc"
#        state: link
#        force: yes
#
## --- TEMPLATED DOTFILES ---
#    - name: Ensure config directories exist
#      file:
#        path: "{{ item }}"
#        state: directory
#        mode: '0755'
#      loop:
#        - "{{ ansible_user_dir }}/.config"
#        - "{{ ansible_user_dir }}/.local/bin"
#
#    - name: Deploy templated zshrc
#      template:
#        src: "~/.dotfiles/templates/zshrc.j2"
#        dest: "{{ ansible_user_dir }}/.zshrc"
#        mode: '0644'
#        force: yes
#
#    - name: Deploy templated Git config
#      template:
#        src: "~/.dotfiles/templates/gitconfig.j2"
#        dest: "{{ ansible_user_dir }}/.gitconfig"
#        mode: '0644'
#
# --- SYSTEM UPDATES ---

# Task 1: Install universal packages
    - name: Install universal packages
      package:
        name: "{{ universal_packages }}"
        state: present
      become: yes

    # Task 2: Install Arch-only packages
    - name: Install Arch-specific packages
      pacman:
        name: "{{ arch_packages }}"
        state: present
      become: yes
      #when: ansible_distribution == "Archlinux"

    # Task 3: Install Debian-only packages
    # - name: Install Debian-specific packages
    #   apt:
    #     name: "{{ debian_packages }}"
    #     state: present
    #     update_cache: yes
    #   become: yes
    #   #when: ansible_os_family == "Debian"

    - name: Full system upgrade
      pacman:
        update_cache: yes
        upgrade: yes
      become: yes

