---
- name: System Setup Post-Install
  hosts: all
  vars:
    # Playbook-wide variables
    username: jdv
    dotfiles_repo: "https://github.com/jdvober/dotfiles.git"
    dotfiles_path: /home/{{ username}}/github.com/jdvober/dotfiles/
    global_fonts_path: /usr/local/share/fonts/ # Destination for global font usage.
  tasks:
    ###########################################################################
    # --- Installing Packages ---
    ###########################################################################
    - name: Install Linux Packages
      hosts: localhost
      connection: local
      become: yes
      vars_files:
        - packages.yaml
    
      tasks:
        - name: Enable Multilib repository
          replace:
            path: /etc/pacman.conf
            regexp: '^#\[multilib\]\n#Include'
            replace: "[multilib]\nInclude"
          become: yes
          register: pacman_config
    
        - name: Update pacman cache if config changed
          command: pacman -Sy
          when: pacman_config.changed
          become: yes
    
        ###########################################################################
        # --- AUR SUPPORT SETUP ---
        ###########################################################################
        - name: Create AUR build user
          user:
            name: aur_builder
            group: wheel
            create_home: yes
    
        - name: Allow aur_builder to use pacman without password
          lineinfile:
            path: /etc/sudoers.d/11-install-aur-builder
            line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
            create: yes
            mode: '0440'
    
        ###########################################################################
        # --- BTRFS & REFIND SNAPSHOTS ---
        ###########################################################################
        - name: Install Snapper, Snap-Pac, and rEFInd-Btrfs
          pacman:
            name: 
              - snapper
              - snap-pac
            state: present
    
        - name: Install refind-btrfs from AUR
          kewlfft.aur.aur:
            name: refind-btrfs
            use: makepkg
            state: present
          become: yes
          become_user: aur_builder
    
        - name: Check if snapper config exists
          stat:
            path: /etc/snapper/configs/root
          register: snapper_config
    
        - name: Initialize snapper config for root
          command: snapper -c root create-config /
          when: not snapper_config.stat.exists
    
        - name: Enable refind-btrfs service
          systemd:
            name: refind-btrfs.service
            enabled: yes
            state: started
    
      # --- SNAPPER CLEANUP & RETENTION ---
        - name: Configure Snapper retention policy for root
          lineinfile:
            path: /etc/snapper/configs/root
            regexp: "^{{ item.key }}="
            line: '{{ item.key }}="{{ item.value }}"'
          loop:
            - { key: 'TIMELINE_CLEANUP', value: 'yes' }
            - { key: 'TIMELINE_LIMIT_HOURLY', value: '5' }
            - { key: 'TIMELINE_LIMIT_DAILY', value: '7' }
            - { key: 'TIMELINE_LIMIT_WEEKLY', value: '0' }
            - { key: 'TIMELINE_LIMIT_MONTHLY', value: '0' }
            - { key: 'TIMELINE_LIMIT_YEARLY', value: '0' }
            - { key: 'NUMBER_LIMIT', value: '10' } # Limits snapshots triggered by snap-pac
            - { key: 'NUMBER_LIMIT_IMPORTANT', value: '5' }
    
        - name: Enable and start Snapper cleanup timers
          systemd:
            name: "{{ item }}"
            enabled: yes
            state: started
          loop:
            - snapper-cleanup.timer
            - snapper-timeline.timer
    
        ###########################################################################
        # Install Cross Platform Packages
        ###########################################################################
        - name: Install Cross platform packages
          package:
            name: "{{ cross_platform_packages }}"
            state: present
          become: yes
          ignore_errors: true # Like nofail for fstab
    
        ###########################################################################
        # Install Arch-only packages
        ###########################################################################
        - name: Install Arch-specific packages with Pacman (non-AUR)
          pacman:
            name: "{{ pacman_packages }}"
            state: present
          become: yes
          when: ansible_os_family == "Archlinux"
          ignore_errors: true # Like nofail for fstab
    
    
        ###########################################################################
        # Install AUR packages
        ###########################################################################
        - name: Install AUR packages
          kewlfft.aur.aur:
            name: "{{ item }}"
            use: makepkg
            state: present
          become: yes
          when: ansible_os_family == "Archlinux"
          become_user: aur_builder
          loop: "{{ aur_packages }}"
    
        ###########################################################################
        # Install Debian-only packages
        ###########################################################################
        - name: Install Debian-specific packages
          ansible.builtin.package:
            name: "{{ debian_packages }}"
            state: present
            update_cache: yes
          when: ansible_os_family == "Debian"
          become: yes
          ignore_errors: true # Like nofail for fstab
    
        ###########################################################################
        # --- FLATPAK SETUP ---
        ###########################################################################
        - name: Ensure flatpak is installed
          pacman:
            name: flatpak
            state: present
          become: yes
    
        - name: Add Flathub repository
          community.general.flatpak_remote:
            name: flathub
            state: present
            flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
          become: yes # Use 'yes' for system-wide or 'no' for user-level
    
        - name: Install Flatpak applications
          community.general.flatpak:
            name: "{{ flatpaks }}"
            state: present
            remote: flathub
          become: yes # Optional: Install to user space instead of system-wide
    
        - name: Uninstall unused Flatpak runtimes
          command: flatpak uninstall --unused -y
          changed_when: false
    
    
    ###########################################################################
    # --- DOTFILES ---
    ###########################################################################
    - name: Set up system configuration
      hosts: localhost
      connection: local
      become: yes
      vars:
        required_folders:
          - {{ global_fonts_path }}
          - {{ dotfiles_path }}
        dotfiles_folders:
            - beets
            - eza
            - fish
            - neofetch
            - nvim
            - vim
            - wezterm
            - yazi
            - zsh
      
      tasks:
        ###########################################################################
        # --- Cloning Dotfiles Repo ---
        ###########################################################################

        - name: Check existence of all required_folders listed above
          ansible.builtin.stat:
            path: "{{ item }}"
          loop: "{{ required_folders }}"
          register: folder_stats
      
        - name: Clone dotfiles repository
          become: no
          git:
            repo: "{{ dotfiles_repo }}"
            dest: {{ dotfiles_path }}
            update: yes
          when: 
            - not item.stat.exists
            - item.item == {{ dotfiles_path }}
    
        ###########################################################################
        # --- Symlinking Dotfiles ---
        ###########################################################################
        - name: Check existence of all dotfiles_folders listed above
          ansible.builtin.stat:
            path: "{{ item }}"
          loop: "{{ dotfiles_folders }}"
          register: dotfiles_folder_stats

        - name: Symlink configuration directories to ~/.config from dotfiles
          become: no
          file:
            src: "{{ dotfiles_path }}/.config/{{ item }}"
            dest: "~/.config/{{ item }}"
            state: link
          loop: {{ dotfiles_folders.results }}
          when: not item.stat.exists
    
        ###########################################################################
        #  Copy Fonts
        ###########################################################################
        - name: Copy fonts
          become: yes 
          copy:
            src: "{{ dotfiles_path}}/fonts/"
            dest: {{ global_fonts_path }}
            mode: '0755'
          when: 
            - not item.stat.exists
            - item.item == {{ global_fonts_path }}
    
    ###########################################################################
    # --- Update / Upgrade System ---
    ###########################################################################
    - name: Full system upgrade
      pacman:
        update_cache: yes
        upgrade: yes
      become: yes
